
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Allow read access to all files for anyone
    match /{allPaths=**} {
      allow read;
    }
    
    // Allow authenticated users to write to a user-specific folder
    // The path ensures that a user can only upload to their own directory.
    match /vehicle-photos/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
